<div class="home-page">

  <h1 class="welcome-heading">Welcome!</h1>

  <div class="logo-container">
    <%= image_tag 'logo.png', class: 'home-logo' %>
  </div>

  <h2 class="about-heading"><strong>About Us:</strong></h2>

  <p class="about-text">
    Welcome to 901 FitHub! We’re more than just a fitness digital store—we’re your partner in making fitness fun, accessible, and balanced. At 901 FitHub, we believe everyone deserves to feel their best, no matter where they’re starting from. That’s why we specialize in creating beginner-friendly workout plans that transform routine exercises into engaging experiences, helping you build a solid fitness foundation with excitement and confidence.
  </p>
  <p class="about-text">
    Our diverse meal plans are designed with balance in mind and cater to various dietary preferences, so you can find delicious, healthy options that fit your unique lifestyle. Whether you’re taking your first steps into fitness or looking to reinvigorate your routine, 901 FitHub is here to support you every step of the way. Get ready to transform your journey to health and wellness—Memphis style!
  </p>
</div>